body {
    width: 200px;
    padding: 10px;
    background-color: #0f007c;
    border-radius: 5px;
    
  }
  
  label {
    font-family: Montserrat;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
   color : white;
  }
  
  select, button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    background-color:#3749ae;
    border-radius: 5px;
    font-family: Montserrat;
    color : white;
    
  }
  
  button {
    background-color: #5544d7;
    border: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #357ae8;
  }
  h1 {
    color:white;
    font-family: Montserrat;
  }
  #font-family{
    font-family: Montserrat;
  }

